#nav {
  padding: 50px;
}

#nav a {
  font-weight:lighter;
  color:aqua;
  padding: 10px;
  border-radius: 20px;
  background-color:gray;
  text-decoration:none;
  animation: all 10000ms;
}

#nav a.router-link-exact-active {
  background-color:grey;
}
